// MEDIA QUERY BREAKPOINTS
    $xxl_size: 1700px;
    $xl_size: 1400px;
    $lg_size: 1100px;
    $md_size: 768px;
    $sm_size: 576px;
    $xs_size: 576px;

    $container_xxl_size: 1650px;
    $container_xl_size: 1350px;
    $container_lg_size: 1050px;
    $container_md_size: 720px;
    $container_sm_size: 100%;
    $container_xs_size: 100%;
//

// Fonts
    @font-face {
        font-family: 'HB_Georgia';
        font-style: normal;
        font-weight: 400;
        src: url('/storage/fonts/hb_georgia.ttf');
    }

    @font-face {
        font-family: 'Test';
        font-style: normal;
        font-weight: 400;
        src: url('/storage/fonts/test.ttf');
    }

    @font-face {
        font-family: 'Trebuchet MS';
        font-style: normal;
        font-weight: 400;
        src: url('/storage/fonts/Trebuchet MS.ttf');
    }

    $font_family_0: 'HB_Georgia';
    $font_family_1: 'Test';
    $font_family_2: 'Trebuchet MS';
    $font_family_3: 'Arial';
    $font_family_4: 'Arial';
    $font_family_5: 'Arial';
    $font_family_6: 'Arial';
//  

// Colors
    $color_0: #2FAFD6;
    $color_1: #2C609C;
    $color_2: #FE982C;
    $color_3: #2B2B2B;
    $color_4: #FFFFFF;
    $color_5: #F7F7F7;
    $color_6: #858E9E;
    $color_7: #F8F8F8;
//