@media only screen and (max-width: $xs_size) {
  section {
    padding: 20px 0 40px;
  }
}


@media only screen and (min-width: $sm_size) {
  section {
    padding: 20px 0 40px;
  }
}


@media only screen and (min-width: $md_size) {
  section {
    padding: 20px 0 40px;
  }
}


@media only screen and (min-width: $lg_size) {
  section {
    padding: 30px 0 70px;
  }
}


@media only screen and (min-width: $xl_size) {
  section {
    padding: 30px 0 70px;
  }
}


* {
  box-sizing: border-box;
}

a {
  &:link,
  &:active,
  &:visited {
    color: #1e8cf3;
    outline: none;
    text-decoration: none;
  }

  &:hover {
    color: #004b91;
  }
}

body {
  color: #333;
  margin: 0; 
  overflow-y: scroll;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}

header {
  background-color: yellow;
  position: relative;
  z-index: 30;
}

iframe {
  border: none;
  display: block;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

input {
	&[type="checkbox"] {
		margin: 3px;
	}
	
	&[type="submit"],
	&[type="button"] {
		border-radius: 0;
		-webkit-appearance: none;
	}

	&[type="text"],
	&[type="file"],
	&[type="password"],
	&[type="date"],
	&[type="tel"],
	&[type="email"] {
		margin: 0;
		outline: none;
    padding: 5px;
    width: 200px;
  }

  &[type="text"]:focus,
  &[type="tel"]:focus {
    outline: none;
  }

  &[type="password"] {
    &:focus {
      outline: none;
    }
    outline: none;
  }
}

p {
  margin: 0;
}

section {
  background-color: #fff;
  min-height: 400px;
  position: relative;
  z-index: 5;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  padding: 0;
  vertical-align: top;
}

textarea {
  height: 150px;
  outline: none;
  padding: 3px;
  width: 400px;
}

input,
textarea {
  outline: none !important;
}

.from_editor_div img {
  display: inline-block !important;
}

label {
  cursor: pointer;
}
