@import "modules/atom";


@media only screen and (max-width: $xs_size) {
    // News
        .img_wrapper {
            width: 100%;
        }
    //
}

@media only screen and (min-width: $sm_size) {
    // News
        .img_wrapper {
            width: 100%;
        }
    //
}

@media only screen and (min-width: $md_size) {
    // News
        .img_wrapper {
            width: 50%;
            float: right;
        }
    //
}

@media only screen and (min-width: $lg_size) {
    
}

@media only screen and (min-width: $xl_size) {
    
}

@media only screen and (min-width: $xxl_size) {
   
}


.main_content--height {
    min-height: 430px;
}

.clear_both {
    clear: both;
}

.bootstrap_size_getter {
    background-color: #ffffff;
    border: 2px solid black;
    font-weight: bold;

    &__xxl {
        background-color: #FF484F;
    }

    &__xl {
        background-color: #6ce255;
    }

    &__lg {
        background-color: #bebebe;
    }

    &__md {
        background-color: #48adff;
    }

    &__sm {
        background-color: #da48ff;
    }

    &__xs {
        background-color: #ffed48;
    }
}


// News

// 


// Photo gallery
.my-gallery {
    width: 100%;
    display: flex;
}
.my-gallery img {
    width: 100%;
    height: auto;
}
.my-gallery figure {
    display: block;
    display: flex;
    margin: 0 5px 5px 0;
    // width: 150px;
}
.my-gallery figcaption {
    display: none;
}

.pswp__button--arrow--left,
.pswp__button--arrow--right {
    font-size: 2rem;
}

.pswp img {
    max-width: none;
    object-fit: contain;
}
.pswp__button--arrow--left:before, 
.pswp__button--arrow--right:before {
    top: 30px !important;
    height: 41px !important;
    width: 40px !important;
}

.close_button span,
.close_button button {
    position: absolute;
    top: 15px;
    right: 15px;
    color: white;
    padding: 0.8rem;
    font-size: 1.5rem;
}
//


// Tags
    .tag_next {
        font-size: 13px;
    }
// 


// Menu_Buttons
    // .menu_buttons {
    //     .active_class {
    //         color: #FF484F;
    //     }

    //     &__item {
    //         position: relative;
    //         transition: all 0.2s ease-in-out;
    //     }

    //     &__link {
    //         color: #4A494A;
    //     }

    //     &__sub_link {
    //         background-color: #fff;
    //         display: none;
    //         left: 0;
    //         position: absolute;
    //         top: 40px;
    //         width: 180px;
    //         box-shadow: 0px 8px 16px 4px rgba(0, 0, 0, 0.25);
    //     }

    //     .me6 {
    //         padding: 10px;
    //         transition: all 0.2s ease-in-out;
        
    //         &:hover {
    //             background-color: #fff;
    //             color: #4a494a;
    //         }
    //     }
    // }

a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: #4a494a;
}

.me2 {
    color: #4a494a;
}

.me2 span {
    cursor: pointer;
}

.me2 > a span {
    color: #ff484f;
}

.me3 > a span {
    color: #ff484f;
}

.me4 {
    border-right: 1px solid #333;
    cursor: default;
    text-align: center;
    float: left;
    position: relative;
}

.me5 {
    transition: all 0.2s ease-in-out;
    position: relative;
    cursor: pointer;

    span {
        color: #4a494a;

        a {
            color: #ff484f;
        }

        &:hover {
            color: #ff484f;
        }
    }

    .me7 {
        background-color: #fff;
        display: none;
        left: 0;
        position: absolute;
        top: 40px;
        width: 180px;
        box-shadow: 0px 8px 16px 4px rgba(0, 0, 0, 0.25);
    }

    &:hover {
        // background-color: #cda756;

        a {
            color: #4a494a !important;
        }
    }
}

.me6 {
    padding: 10px;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: #fff;
        color: #4a494a;
    }
}

.me8 {
    cursor: pointer;
}

.me9 {
    display: none;
}

.me10 {
    display: inline-block;
    // position: absolute;
    // right: 0;
    transition: 0.3s;
}

// 


// Partners
    .partners {
        &__partner {
            &:hover {
                opacity: 0.8;
            }
        }

        &__title {
            color: #4A494A;
        }
    }
// 


// Footer

// 