@media only screen and (max-width: $xs_size) {}


@media only screen and (min-width: $sm_size) {}


@media only screen and (min-width: $md_size) {}


@media only screen and (min-width: $lg_size) {}


@media only screen and (min-width: $xl_size) {}


@media only screen and (min-width: $xxl_size) {}

.basket {
    &__products_list {

    }

    &__product_template {
        
    }

    &__sum_container {
        background: $color_2;
    }

    &__submit {
        background-color: $color_0;
        transition: 0.2s ease-in-out all;

        &:hover {
            background-color: $color_1;
        }
    }

    &__product_delete_button {
        cursor: pointer;
    }

    &__details {
        
    }

    &__total {
        
    }
    
    &__product_amount {
        width: 50px !important;
        border: none !important;
        text-align: center;
    }

    &__amount {
        border-radius: 4px;
        cursor: pointer;
    }

    &__minus_btn {
        &:hover {
            background-color: $color_1;
            color: $color_4;
            transition: 0.2s;
            cursor: pointer;
        }
    }

    &__plus_btn {
        &:hover {
            background-color: $color_1;
            color: $color_4;
            transition: 0.2s;
            cursor: pointer;
        }
    }

    &__dividing_line {
        border-top: 1px solid $color_2;
    }
}