@media only screen and (max-width: $xs_size) {
    
}


@media only screen and (min-width: $sm_size) {
    
}


@media only screen and (min-width: $md_size) {
    
}


@media only screen and (min-width: $lg_size) {
    
}


@media only screen and (min-width: $xl_size) {

}


@media only screen and (min-width: $xxl_size) {

}


.footer {
    position: relative;
    z-index: 20;

    &__companies a{
        color: $color_8;
    }

    &__contact_info a{
        color: $color_8;
    }
    
    .menu_buttons__item a {
        color: $color_8;
        text-decoration: none;
        position: relative;
        z-index: 1;
    }

    .menu_buttons__item span {
        color: $color_8;
    }
    

    &__media_icon {
        font-size: 18px;
        transition: color 0.2s ease-in-out;
        padding: 4px;
    }

    &__admin_button {
        height: 20px;
        left: 0;
        position: absolute;
        bottom: 0;
        width: 20px;
        z-index: 400;
    }
}

.footer-ice{
    background-color: rgba(94, 197, 241, 0.20);
    .footer{
        &__horizontal_line{
            border-top: 2px solid $color_0;
        }

        &__media_icon{
            color: $color_0;
            border: 1px solid $color_0;
        }
    } 
}

.footer-comp{
    background-color: #A6252533;
    .footer{
        &__horizontal_line{
            border-top: 2px solid $color_10;
        }

        &__media_icon{
            color: $color_10;
            border: 1px solid $color_10
        }
    }
}

.footer-plus{
    background-color: #3669B333;
    .footer{
        &__horizontal_line{
            border-top: 2px solid $color_20;
        }

        &__media_icon{
            color: $color_20;
            border: 1px solid $color_20
        }
    }
}