@media only screen and (max-width: $xs_size) {
    .home{
        &__statistic{
            width: 150px;
            height: 150px;
            position: relative;
    
            &:nth-child(2){
                left: 215px;
                top: -0px;
            }
    
            &:nth-child(3){
                bottom: 12px;
                left: 110px;
            }

            &-circle{
                width: 20px;
                height: 20px;
                background-color: $color_10;
                position: absolute;
                border-radius: 50%;
            }

            &-circlef {
                top: 124px;
                left: 21px;
            }

            &-circles {
                top: 130px;
                left: 95px;
            }

            &-circlet {
                top: 134px;
                left: 86px;
            }
        }

        &__partner_box{
            height: 370px;
        }

        &__partner_shadow{
            right: 0;
            bottom: 0;
        }

        &__about_us_img{
            width: 250px;
            position: relative;
            border-radius: 50%;
    
            &::before{
                content: "";
                width: 114%;
                height: 114%;
                border-radius: 50%;
                position: absolute;
                top: -7%;
                left: -7%;
                
            }
    
            &::after{
                content: "";
                width: 132%;
                height: 132%;
                border-radius: 50%;
                position: absolute;
                top: -16%;
                left: -16%;
                
            }
        }

        &__banner_section{
            padding: 50px 0;
        }

        &__about_us_mini_circle::before {
            bottom: 15px !important;
        }

        &__about_us_mini_circle::after {
            bottom: -30px !important;
        }

        &__products_dif_img{
            position: static;
        }

        &__product_text{
            line-height: 25px;
        }

        &__about_us_box_text{
            line-height: 25px;
        }

        &__about_us_text{
            line-height: 25px;
        }

        &__head_text{
            line-height: 25px;
        }

        &__text_partner{
            line-height: 25px;
        }
    }
    
}


@media only screen and (min-width: $sm_size) {
    .home{
        &__statistic{
            width: 200px;
            height: 200px;
            position: relative;
    
            &:nth-child(2){
                left: 270px;
                top: -20px;
            }
    
            &:nth-child(3){
                bottom: 0px;
                left: 154px;
            }

            &-circle{
                width: 20px;
                height: 20px;
                background-color: $color_10;
                position: absolute;
                border-radius: 50%;
            }

            &-circlef {
                top: 160px;
                left: 21px;
            }

            &-circles {
                top: 130px;
                left: 179px;
            }

            &-circlet {
                top: 179px;
                left: 130px;
            }
        }

        &__partner_box{
            height: 400px;
        }

        &__partner_shadow{
            right: 0;
            bottom: 0;
        }

        &__about_us_img{
            width: 370px;
            position: relative;
            border-radius: 50%;
    
            &::before{
                content: "";
                width: 114%;
                height: 114%;
                border-radius: 50%;
                position: absolute;
                top: -7%;
                left: -7%;
                
            }
    
            &::after{
                content: "";
                width: 132%;
                height: 132%;
                border-radius: 50%;
                position: absolute;
                top: -16%;
                left: -16%;
                
            }
        }

        &__banner_section{
            padding: 50px 0;
        }

        &__products_dif_img{
            position: static;
        }

        &__product_text{
            line-height: 25px;
        }

        &__about_us_box_text{
            line-height: 25px;
        }

        &__about_us_text{
            line-height: 25px;
        }

        &__head_text{
            line-height: 25px;
        }

        &__text_partner{
            line-height: 25px;
        }
    }
}

@media only screen and (min-width: $md_size) {
    .home{
        &__statistic{
            width: 200px;
            height: 200px;
            position: relative;
    
            &:nth-child(2){
                left: 270px;
                top: -20px;
            }
    
            &:nth-child(3){
                bottom: 0px;
                left: 154px;
            }

            &-circle{
                width: 20px;
                height: 20px;
                background-color: $color_10;
                position: absolute;
                border-radius: 50%;
            }

            &-circlef {
                top: 160px;
                left: 21px;
            }

            &-circles {
                top: 130px;
                left: 179px;
            }

            &-circlet {
                top: 179px;
                left: 130px;
            }
        }

        &__partner_box{
            height: 400px;
        }

        &__partner_shadow{
            right: 0;
            bottom: 0;
        }

        &__about_us_img{
            width: 370px;
            position: relative;
            border-radius: 50%;
    
            &::before{
                content: "";
                width: 114%;
                height: 114%;
                border-radius: 50%;
                position: absolute;
                top: -7%;
                left: -7%;
                
            }
    
            &::after{
                content: "";
                width: 132%;
                height: 132%;
                border-radius: 50%;
                position: absolute;
                top: -16%;
                left: -16%;
                
            }
        }

        &__banner_section{
            padding: 100px 0;
        }

        &__products_dif_img{
            position: static;
        }

        &__product_text{
            line-height: 25px;
        }

        &__why_us:nth-child(3){
            border-bottom: 1px solid transparent !important;
        }

        &__about_us_box_text{
            line-height: 25px;
        }

        &__about_us_text{
            line-height: 25px;
        }

        &__head_text{
            line-height: 25px;
        }

        &__text_partner{
            line-height: 25px;
        }
    }
}


@media only screen and (min-width: $lg_size) {
    .home{
        &__statistic{
            width: 200px;
            height: 200px;
            position: relative;
    
            &:nth-child(2){
                left: 270px;
                top: -20px;
            }
    
            &:nth-child(3){
                bottom: 0px;
                left: 154px;
            }

            &-circle{
                width: 20px;
                height: 20px;
                background-color: $color_10;
                position: absolute;
                border-radius: 50%;
            }

            &-circlef {
                top: 160px;
                left: 21px;
            }

            &-circles {
                top: 130px;
                left: 179px;
            }

            &-circlet {
                top: 179px;
                left: 130px;
            }
        }

        &__partner_box{
            height: 400px;
        }

        &__partner_shadow{
            left: 80px;
            bottom: -35%;
        }

        &__about_us_img{
            width: 370px;
            position: relative;
            border-radius: 50%;
    
            &::before{
                content: "";
                width: 114%;
                height: 114%;
                border-radius: 50%;
                position: absolute;
                top: -7%;
                left: -7%;
                
            }
    
            &::after{
                content: "";
                width: 132%;
                height: 132%;
                border-radius: 50%;
                position: absolute;
                top: -16%;
                left: -16%;
                
            }
        }

        &__banner_section{
            padding: 100px 0;
        }

        &__products_dif_img{
            position: absolute;
        }

        &__product_text{
            line-height: 40px;
        }

        &__about_us_box_text{
            line-height: 40px;
        }

        &__why_us:nth-child(3){
            border-bottom: 1px solid transparent !important;
        }

        &__about_us_text{
            line-height: 40px;
        }

        &__head_text{
            line-height: 30px;
        }

        &__text_partner{
            line-height: 35px;
        }
    }
}


@media only screen and (min-width: $xl_size) {
    .home{
        &__statistic{
            width: 200px;
            height: 200px;
            position: relative;
    
            &:nth-child(2){
                left: 270px;
                top: -20px;
            }
    
            &:nth-child(3){
                bottom: -70px;
                left: 165px;
            }

            &-circle{
                width: 20px;
                height: 20px;
                background-color: $color_10;
                position: absolute;
                border-radius: 50%;
            }

            &-circlef {
                top: 160px;
                left: 21px;
            }

            &-circles {
                top: 130px;
                left: 179px;
            }

            &-circlet {
                top: 179px;
                left: 130px;
            }
        }

        &__partner_box{
            height: 370px;
        }

        &__partner_shadow{
            left: 80px;
            bottom: -25%;
        }

        &__about_us_img{
            width: 370px;
            position: relative;
            border-radius: 50%;
    
            &::before{
                content: "";
                width: 114%;
                height: 114%;
                border-radius: 50%;
                position: absolute;
                top: -7%;
                left: -7%;
                
            }
    
            &::after{
                content: "";
                width: 132%;
                height: 132%;
                border-radius: 50%;
                position: absolute;
                top: -16%;
                left: -16%;
                
            }
        }

        &__banner_section{
            padding: 100px 0;
        }

        &__products_dif_img{
            position: absolute;
        }

        &__product_text{
            line-height: 40px;
        }

        &__about_us_box_text{
            line-height: 40px;
        }

        &__why_us:nth-child(3){
            border-bottom: 1px solid transparent !important;
        }

        &__why_us_shadow{
            box-shadow: #ddf3fc -270px 143px 210px 31px;
        }

        &__why_us_shadow_small{
            box-shadow: #ddf3fc -270px 143px 210px 31px;
        }

        &__about_us_text{
            line-height: 40px;
        }

        &__head_text{
            line-height: 30px;
        }

        &__text_partner{
            line-height: 35px;
        }
    }
}


@media only screen and (min-width: $xxl_size) {
    .home{
        &__statistic{
            width: 200px;
            height: 200px;
            position: relative;
    
            &:nth-child(2){
                left: 270px;
                top: -20px;
            }
    
            &:nth-child(3){
                bottom: -70px;
                left: 165px;
            }

            &-circle{
                width: 20px;
                height: 20px;
                background-color: $color_10;
                position: absolute;
                border-radius: 50%;
            }

            &-circlef {
                top: 160px;
                left: 21px;
            }

            &-circles {
                top: 130px;
                left: 179px;
            }

            &-circlet {
                top: 179px;
                left: 130px;
            }
        }

        &__partner_box{
            height: 370px;
        }

        &__partner_shadow{
            left: 80px;
            bottom: -10%;
        }

        &__about_us_img{
            width: 370px;
            position: relative;
            border-radius: 50%;
    
            &::before{
                content: "";
                width: 114%;
                height: 114%;
                border-radius: 50%;
                position: absolute;
                top: -7%;
                left: -7%;
                
            }
    
            &::after{
                content: "";
                width: 132%;
                height: 132%;
                border-radius: 50%;
                position: absolute;
                top: -16%;
                left: -16%;
                
            }
        }

        &__banner_section{
            padding: 100px 0;
        }

        &__products_dif_img{
           position: absolute;
        }

        &__product_text{
            line-height: 40px;
        }

        &__about_us_box_text{
            line-height: 40px;
        }

        &__why_us:nth-child(3){
            border-bottom: 1px solid transparent !important;
        }

        &__why_us_shadow{
            box-shadow: #ddf3fc -270px 143px 210px 31px;
            width: 50px;
        }

        &__why_us_shadow_small{
            box-shadow: #ddf3fc -270px 143px 210px 31px;
            width: 30px;
        }

        &__about_us_text{
            line-height: 40px;
        }

        &__head_text{
            line-height: 30px;
        }

        &__text_partner{
            line-height: 35px;
        }
    }
}

.home{
    &__partners{
        img{
            width: auto !important;
        }
    }
}

.ice-land{
    .home{
        &__title{
            line-height: 65px;
        }
        

        &__statistic{
            border: 1px solid $color_1;
            &-circle{
                background-color: $color_0;
            }
        }

        &__why_us:nth-child(3){
            border-bottom: 1px solid $color_0;
        }

        &__about_us_img{
            &::before{
                border: 1px solid #CCEDFB;
            }
    
            &::after{
                border: 1px solid #E6F6FD;
                
            }
        }
        
        &__title_different_part{
            color: $color_4;
            background-color: $color_0;
            position: relative;
    
            &::before{
                content: "";
                position: absolute;
                left: -12px;
                bottom: -12px;
                width: 12px;
                height: 12px;
                background: rgb(143,222,255);
                background: linear-gradient(90deg, rgba(143,222,255,1) 51%, rgba(94,197,241,1) 100%);
                border-top-left-radius: 50%;
                border-bottom-right-radius: 50%;
                border-bottom-left-radius: 50%;
            }
    
            &::after{
                content: "";
                position: absolute;
                top: -12px;
                right: -12px;
                width: 12px;
                height: 12px;
                background: rgb(143,222,255);
                background: linear-gradient(90deg, rgba(143,222,255,1) 51%, rgba(94,197,241,1) 100%);
                border-top-left-radius: 50%;
                border-top-right-radius: 50%;
                border-bottom-right-radius: 50%;
            }
            
        }
    
        &__button{
            background-color: $color_0;
        }
    
        &__gradinet_div{
            box-shadow: #ddf3fc -270px 143px 210px 31px;
            background-color: #DDF3FC;
            border-radius: 30px;
        }
    
        &__gradient{
            box-shadow: #ddf3fc 170px 50px 210px 31px;
            background-color: #DDF3FC;
            border-radius: 30px;
        }
    
        &__text_head{
            z-index: 10;
        }
    
        &__about_us_box{
            padding-left: 60px;
        }

        &__partner_shadow{
            box-shadow: #ddf3fc 170px 50px 210px 200px;
            z-index: -1;
        }
    
        &__about_us_mini_circle{
            box-shadow:#ddf3fc 173px -170px 50px -139px, #ddf3fc -100px 122px 60px -100px;
            &::before{
                content: "";
                width: 30px;
                height: 30px;
                background-color: #CFEEFB;
                position: absolute;
                border-radius: 50%;
                bottom: 45px;
                right: 3px;
               
            }
    
            &::after{
                content: "";
                width: 20px;
                height: 20px;
                background-color: #E6F5FC;
                position: absolute;
                border-radius: 50%;
                bottom: -25px;
                right: 37px;
                z-index: 10;
            }
        }
    
        &__banner_icon{
            width: 72px;
        }
    
        &__banner_section{
            background-color: #E1F4FC;
        }
    
        &__why_us:first-child{
            border-bottom: 1px solid $color_0;
        }
    
        &__why_us:nth-child(2){
            border-bottom: 1px solid $color_0;
        }
    
        &__about_us_number{
            width: 54px;
            height: 54px;
            background-color: $color_0;
            color: $color_4;
        }
    
        &__plus{
            color: $color_0;
        }
    
        &__our_project{
            & img{
                width: 500px;
            }
        }
    
        &__products_dif_img{
            top: -210px;
        }
    }
}

.bd-comp{
    .home{
        &__title{
            line-height: 65px;
        }

        &__about_us_img{
            &::before{
                border: 1px solid #A625254D;
            }
    
            &::after{
                border: 1px solid #A6252526;
                
            }
        }

        &__statistic{
            border: 1px solid $color_11;
            &-circle{
                background-color: $color_10;
            }
        }

        &__why_us:nth-child(3){
            border-bottom: 1px solid $color_10;
        }
        
        &__title_different_part{
            color: $color_4;
            background-color: $color_10;
            position: relative;
    
            &::before{
                content: "";
                position: absolute;
                left: -12px;
                bottom: -12px;
                width: 12px;
                height: 12px;
                background: linear-gradient(180deg, #E32828 0%, #A62525 100%);

                border-top-left-radius: 50%;
                border-bottom-right-radius: 50%;
                border-bottom-left-radius: 50%;
            }
    
            &::after{
                content: "";
                position: absolute;
                top: -12px;
                right: -12px;
                width: 12px;
                height: 12px;
                background: linear-gradient(180deg, #E32828 0%, #A62525 100%);
                border-top-left-radius: 50%;
                border-top-right-radius: 50%;
                border-bottom-right-radius: 50%;
            }
            
        }
    
        &__button{
            background-color: $color_10;
        }
    
        &__gradinet_div{
            box-shadow: #BF212633 -270px 143px 210px 31px;
            background-color: #BF212633;
            border-radius: 30px;
        }
    
        &__gradient{
            box-shadow: #BF212633 170px 50px 210px 31px;
            background-color: #BF212633;
            border-radius: 30px;
        }
    
        &__text_head{
            z-index: 10;
        }
    
        &__about_us_box{
            padding-left: 60px;
        }
    
        &__about_us_mini_circle{
            box-shadow:#BF212633 173px -170px 50px -139px, #BF212633 -100px 122px 60px -100px;
            &::before{
                content: "";
                width: 30px;
                height: 30px;
                background-color: #DEB7B7;
                position: absolute;
                border-radius: 50%;
                bottom: 45px;
                right: 3px;
               
            }
    
            &::after{
                content: "";
                width: 20px;
                height: 20px;
                background-color: #E9D6D6;
                position: absolute;
                border-radius: 50%;
                bottom: -25px;
                right: 37px;
                z-index: 10;
            }
        }

        &__partner_shadow{
            box-shadow: #BF212633 170px 50px 210px 31px;
            z-index: -1;
        }
    
        &__banner_icon{
            width: 72px;
        }
    
        &__banner_section{
            background-color: #A6252533;
        }
    
        &__why_us:first-child{
            border-bottom: 1px solid $color_10;
        }
    
        &__why_us:nth-child(2){
            border-bottom: 1px solid $color_10;
        }
    
        &__about_us_number{
            width: 54px;
            height: 54px;
            background-color: $color_10;
            color: $color_4;
        }
    
        &__plus{
            color: $color_10;
        }
    
        &__our_project{
            & img{
                width: 500px;
            }
        }
    
        &__products_dif_img{
            top: -210px;
        }
    }
}

.bd-plus{
    .home{
        &__title{
            line-height: 65px;
        }

        &__about_us_img{
            &::before{
                border: 1px solid #3669B34D;
            }
    
            &::after{
                border: 1px solid #3669B34D;
                
            }
        }

        &__statistic{
            border: 1px solid $color_21;
            &-circle{
                background-color: $color_20;
            }
        }

        &__why_us:nth-child(3){
            border-bottom: 1px solid $color_20;
        }
        
        &__title_different_part{
            color: $color_4;
            background-color: $color_20;
            position: relative;
    
            &::before{
                content: "";
                position: absolute;
                left: -12px;
                bottom: -12px;
                width: 12px;
                height: 12px;
                background: linear-gradient(180deg, #599DFF 0%, #3669B3 100%);
                border-top-left-radius: 50%;
                border-bottom-right-radius: 50%;
                border-bottom-left-radius: 50%;
            }
    
            &::after{
                content: "";
                position: absolute;
                top: -12px;
                right: -12px;
                width: 12px;
                height: 12px;
                background: linear-gradient(180deg, #599DFF 0%, #3669B3 100%);
                border-top-left-radius: 50%;
                border-top-right-radius: 50%;
                border-bottom-right-radius: 50%;
            }
            
        }

        &__partner_shadow{
            box-shadow: #3669B333 -270px 143px 210px 31px;
            z-index: -1;
        }
    
        &__button{
            background-color: $color_20;
        }
    
        &__gradinet_div{
            box-shadow: #3669B333 -270px 143px 210px 31px;
            background-color: #3669B333;
            border-radius: 30px;
        }
    
        &__gradient{
            box-shadow: #3669B333 170px 50px 210px 31px;
            background-color: #3669B333;
            border-radius: 30px;
        }
    
        &__text_head{
            z-index: 10;
        }
    
        &__about_us_box{
            padding-left: 60px;
        }
    
        &__about_us_mini_circle{
            box-shadow:#3669B333 173px -170px 50px -139px, #3669B333 -100px 122px 60px -100px;
            &::before{
                content: "";
                width: 30px;
                height: 30px;
                background-color: #BCCBE2;
                position: absolute;
                border-radius: 50%;
                bottom: 45px;
                right: 3px;
               
            }
    
            &::after{
                content: "";
                width: 20px;
                height: 20px;
                background-color: #D8E0EB;
                position: absolute;
                border-radius: 50%;
                bottom: -25px;
                right: 37px;
                z-index: 10;
            }
        }
    
        &__banner_icon{
            width: 72px;
        }
    
        &__banner_section{
            background-color: #3669B333;
        }
    
        &__why_us:first-child{
            border-bottom: 1px solid $color_20;
        }
    
        &__why_us:nth-child(2){
            border-bottom: 1px solid $color_20;
        }
    
        &__about_us_number{
            width: 54px;
            height: 54px;
            background-color: $color_20;
            color: $color_4;
        }
    
        &__plus{
            color: $color_20;
        }
    
        &__our_project{
            & img{
                width: 500px;
            }
        }
    
        &__products_dif_img{
            top: -210px;
        }
    }
}

  