@media only screen and (max-width: $xs_size) {
    
}


@media only screen and (min-width: $sm_size) {
    
}


@media only screen and (min-width: $md_size) {
    
}


@media only screen and (min-width: $lg_size) {
    
}


@media only screen and (min-width: $xl_size) {
    
}


@media only screen and (min-width: $xxl_size) {
   
}


.languages {
	&__block {
        &--active {
			pointer-events: none;
		}

		& img{
			width: 50px;
			border-radius: 50%;
		}
	}
}

/* Style the custom select container */
.custom-select {
	display: inline-block;
	position: relative;
  }
  
  .selected-option {
	border: 1px solid #ccc;
	padding: 8px;
	cursor: pointer;
  }
  
  .options-list {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	border: 1px solid #ccc;
  }
  
  .option {
	padding: 8px;
	cursor: pointer;
  }
  
  .option:hover {
	background-color: #f0f0f0;
  }
  