@media only screen and (max-width: $xs_size) {
    .img_wrapper {
        width: 100%;
    }
}


@media only screen and (min-width: $sm_size) {
    .img_wrapper {
        width: 100%;
    }
}


@media only screen and (min-width: $md_size) {
    .img_wrapper {
        width: 50%;
        float: right;
    }
}


@media only screen and (min-width: $lg_size) {
    
}


@media only screen and (min-width: $xl_size) {
    
}


@media only screen and (min-width: $xxl_size) {
   
}