@media only screen and (max-width: $xs_size) {}


@media only screen and (min-width: $sm_size) {}


@media only screen and (min-width: $md_size) {}


@media only screen and (min-width: $lg_size) {}


@media only screen and (min-width: $xl_size) {}


@media only screen and (min-width: $xxl_size) {}


.vacancies{
    &__head_list {
        background-color: $color_0;
        border-radius: 16px;
    }

    &__box_shadow {
        box-shadow: 4px 4px 4px 1px rgba(94, 197, 241, 0.17);
    }
}