// // Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// // Variables
@import 'variables';
// @import 'containers';

// @import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/variables";


// @import "~bootstrap/scss/containers";

// // Bootstrap
@import '~bootstrap/scss/bootstrap';

@media (max-width: 576px){
    .container-sm, .container {
        max-width: 539px;  
    }
}   

@media (min-width: 768px) {
    .container-md, .container-sm, .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container-lg, .container-md, .container-sm, .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 80%;
    }
}



.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
    padding-right: 0;
    padding-left: 0;
}

.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}