.line_max_1 {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: relative;
  line-height: 140%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 !important;
  -webkit-line-clamp: 1;
  max-height: calc(1em * 1.4 * 1);
  height: auto;
}

.line_max_1:after {
  content: '';
  text-align: right;
  bottom: 0;
  right: 0;
  width: 25%;
  display: block;
  position: absolute;
  max-height: calc(1em * 1.4);
  height: auto;
  /*	background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 75%);*/
}

.line_max_2 {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: relative;
  line-height: 140%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 !important;
  -webkit-line-clamp: 2;
  max-height: calc(1em * 1.4 * 2);
  height: auto;
}

.line_max_2:after {
  content: '';
  text-align: right;
  bottom: 0;
  right: 0;
  width: 25%;
  display: block;
  position: absolute;
  max-height: calc(1em * 1.4);
  height: auto;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(75%, white));
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white 75%);
}

.line_max_3 {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: relative;
  line-height: 140%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 !important;
  -webkit-line-clamp: 3;
  max-height: calc(1em * 1.4 * 3);
  height: auto;
}

.line_max_3:after {
  content: '';
  text-align: right;
  bottom: 0;
  right: 0;
  width: 25%;
  display: block;
  position: absolute;
  max-height: calc(1em * 1.4);
  height: auto;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(75%, white));
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white 75%);
}

.line_max_4 {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: relative;
  line-height: 140%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 !important;
  -webkit-line-clamp: 4;
  max-height: calc(1em * 1.4 * 4);
  height: auto;
}

.line_max_4:after {
  content: '';
  text-align: right;
  bottom: 0;
  right: 0;
  width: 25%;
  display: block;
  position: absolute;
  max-height: calc(1em * 1.4);
  height: auto;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(75%, white));
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white 75%);
}

.line_max_5 {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: relative;
  line-height: 140%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 !important;
  -webkit-line-clamp: 5;
  max-height: calc(1em * 1.4 * 5);
  height: auto;
}

.line_max_5:after {
  content: '';
  text-align: right;
  bottom: 0;
  right: 0;
  width: 25%;
  display: block;
  position: absolute;
  max-height: calc(1em * 1.4);
  height: auto;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(75%, white));
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white 75%);
}

.line_max_6 {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: relative;
  line-height: 140%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 !important;
  -webkit-line-clamp: 6;
  max-height: calc(1em * 1.4 * 6);
  height: auto;
}

.line_max_6:after {
  content: '';
  text-align: right;
  bottom: 0;
  right: 0;
  width: 25%;
  display: block;
  position: absolute;
  max-height: calc(1em * 1.4);
  height: auto;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(75%, white));
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white 75%);
}

.line_max_7 {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: relative;
  line-height: 140%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 !important;
  -webkit-line-clamp: 7;
  max-height: calc(1em * 1.4 * 7);
  height: auto;
}

.line_max_7:after {
  content: '';
  text-align: right;
  bottom: 0;
  right: 0;
  width: 25%;
  display: block;
  position: absolute;
  max-height: calc(1em * 1.4);
  height: auto;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(75%, white));
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white 75%);
}

.line_max_8 {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: relative;
  line-height: 140%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 !important;
  -webkit-line-clamp: 8;
  max-height: calc(1em * 1.4 * 8);
  height: auto;
}

.line_max_8:after {
  content: '';
  text-align: right;
  bottom: 0;
  right: 0;
  width: 25%;
  display: block;
  position: absolute;
  max-height: calc(1em * 1.4);
  height: auto;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(75%, white));
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white 75%);
}

.line_max_9 {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: relative;
  line-height: 140%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 !important;
  -webkit-line-clamp: 9;
  max-height: calc(1em * 1.4 * 9);
  height: auto;
}

.line_max_9:after {
  content: '';
  text-align: right;
  bottom: 0;
  right: 0;
  width: 25%;
  display: block;
  position: absolute;
  max-height: calc(1em * 1.4);
  height: auto;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(75%, white));
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white 75%);
}

.line_max_10 {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: relative;
  line-height: 140%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 !important;
  -webkit-line-clamp: 10;
  max-height: calc(1em * 1.4 * 10);
  height: auto;
}

.line_max_10:after {
  content: '';
  text-align: right;
  bottom: 0;
  right: 0;
  width: 25%;
  display: block;
  position: absolute;
  max-height: calc(1em * 1.4);
  height: auto;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(75%, white));
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white 75%);
}

@supports (-webkit-line-clamp: 1) {
  .line_max_1:after {
    display: none !important;
  }
}

@supports (-webkit-line-clamp: 2) {
  .line_max_2:after {
    display: none !important;
  }
}

@supports (-webkit-line-clamp: 3) {
  .line_max_3:after {
    display: none !important;
  }
}

@supports (-webkit-line-clamp: 4) {
  .line_max_4:after {
    display: none !important;
  }
}

@supports (-webkit-line-clamp: 5) {
  .line_max_5:after {
    display: none !important;
  }
}

@supports (-webkit-line-clamp: 6) {
  .line_max_6:after {
    display: none !important;
  }
}

@supports (-webkit-line-clamp: 7) {
  .line_max_7:after {
    display: none !important;
  }
}

@supports (-webkit-line-clamp: 8) {
  .line_max_8:after {
    display: none !important;
  }
}

@supports (-webkit-line-clamp: 9) {
  .line_max_9:after {
    display: none !important;
  }
}

@supports (-webkit-line-clamp: 10) {
  .line_max_10:after {
    display: none !important;
  }
}
/*# sourceMappingURL=text_lines_max.css.map */