// COLORS
$color0: red;
$color1: green;
$color2: blue;
$color3: yellow;
$color4: pink;
$color5: brown;
$input_warning_color: #F00;






//MEDIA QUERY BREAKPOINTS
$xl_size : 1400px;
$lg_size : 1250px;
$md_size : 1024px;
$sm_size : 576px;
$xs_size : 576px;
//MEDIA QUERY BREAKPOINTS
/* # */
	#data_bar_div {
		background-color: #fff;
		border-bottom: 1px solid #ccc;
		position: relative;
		z-index: 3;
	}
	
	#data_bar_div #view_all_a {
		display: block;
		width: 150px;
	}
	
	#data_bar_div #view_all_a table td {
		padding: 8px;
	}

	#data_bar_div #view_all_a table {
		width: 150px;
	}

	
	#data_bar_div table td {
		vertical-align: middle;
	}
	
	#data_bar_div #add_div {
		border-right: 1px solid #ccc;
		padding: 10px;
	}
	
	#data_bar_div #prev_div {
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		padding: 10px;
	}
	
	#data_bar_div #next_div {
		border-right: 1px solid #ccc;
		padding: 10px;
	}
	
	#data_bar_div #delete_div {
		cursor: pointer;
		padding: 10px;
	}
	
	#data_bar_div #edit_text_div {
		border-right: 1px solid #ccc;
		padding: 10px;
	}
	
	#bar_add_div {
		border: 1px solid #ccc;
		padding: 10px;
		text-align: center;
	}
	
	#bar_add_div .add_icon {
		color: #059e54;
	}
	
	#bar_add_a {
		display: block;
		padding: 10px;
	}
	
	#bar_add_div table td {
		vertical-align: middle;
	}
	
	#bar_add_div table {
		margin: auto;
		width: auto;
	}

	/*#edit_data_bar_delete_icon_div {
		cursor: pointer;
		padding: 10px;
	}
	
	#edit_data_bar_next_icon_disable_div {
		background-position: -536px 0;
		height: 27px;
		opacity: .3;
		position: absolute;
		right: 50px;
		top: 7px;
		width: 27px;
	}
	
	#edit_data_bar_next_icon_div {
		padding: 10px;
	}
	
	#edit_data_bar_next_icon_div:hover {
		background-position: -536px -30px;
	}
	
	#edit_data_bar_prev_icon_disable_div {
		background-position: -506px 0;
		height: 27px;
		opacity: .3;
		position: absolute;
		right: 80px;
		top: 7px;
		width: 27px;
	}
	
	#edit_data_bar_prev_icon_div {
		padding: 10px;
	}
	
	#edit_data_bar_prev_icon_div:hover {
		background-position: -506px -30px;
	}*/
/* # */

/* . */
	
/* . */
.published_fail {
	background-color: #FFBFC0 !important;
}

.published_ok {
	background-color: #ebebeb !important;
}

.edit_icon {
	color: #3384E7;
	font-size: 25px;
}

.delete_icon {
	color: #c72929;
	cursor: pointer;
	font-size: 25px;
}

.rang_icon {
	color: #666;
	cursor: move;
	font-size: 30px;
	margin-top: 20px !important;
}

.add_icon {
	color: #25a7be;
	font-size: 22px;
}

.small_bottom_margin {
	margin-bottom: 5px;
}

.small_bottom_margin::first-letter {
	text-transform: uppercase;
}

.small_left_margin{
	margin-left: 5px;
}

.small_right_margin {
	margin-right: 5px;
}

.small_top_margin{
	margin-top: 5px;
}

.middle_bottom_margin {
	margin-bottom: 25px;
}

.middle_left_margin {
	margin-left: 25px;
}

.middle_right_margin {
	margin-right: 25px;
}

.middle_top_margin {
	margin-top: 25px;
}

.big_left_margin {
	margin-left: 60px;
}

.big_right_margin {
	margin-right: 60px;
}

.big_top_margin {
	margin-top: 60px;
}

.active_menu_button_div {
	background-color: #666;
	border: 1px solid #000;
	color: #fff !important;
	height: 120px;
	margin: 4px;
	min-width: 105px;
	padding: 12px;
	position: relative;
	text-align: center;
}

.arial_bold_span {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.clear {
	clear: both;
}

.delete_button_div {
	background-color: rgba(255, 255, 255, .75);
	cursor: pointer;
	right: 52px;
	top: 5px;
	padding: 6px 6px 4px;
	position: absolute;
	z-index: 15;
}

.delete_button_inside_div {
	background-position: -241px -1px !important;
	height: 25px;
	width: 26px;
}

.delete_image_div {
	background-color: rgba(255, 255, 255, .75);
	cursor: pointer;
	display: inline-block;
	height: 25px;
	margin-top: 10px;
	padding: 3px;
	width: 26px;
}

.edit_button_div {
	background-color: rgba(255, 255, 255, .75);
	right: 95px;
	padding: 6px 6px 4px;
	position: absolute;
	top: 5px;
	z-index: 15;
}

.edit_button_inside_div {
	background-position: -203px 0 !important;
	height: 25px;
	width: 22px;
}

.image_block_div {
	padding: 10px;
	position: relative;
	z-index: 10;
}

.languages_img {
	background-color: #fff;
	border: 1px solid #fff;
	margin-left: 5px;
	vertical-align: middle;
	width: 37px;
}

.like_link {
	color: #004b91;
}

.menu_button_div {
	background-color: #eaeaea;
	border: 1px solid #ccc;
	height: 120px;
	margin: 4px;
	min-width: 105px;
	padding: 12px;
	position: relative;
	text-align: center;
}

.menu_button_div:hover {
	background-color: #fff;
}

.menu_button_image_div {
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid #333;
	border-radius: 100px;
	height: 80px;
	left: 24px;
	position: absolute;
	top: 12px;
	width: 80px;
	z-index: 5;
}

.menu_button_image_div img {
	width: 46px;
	height: 46px;
	margin: 17px auto;
}

.menu_button_title_div {
	left: 10px;
	position: absolute;
	top: 97px;
	width: 110px;
}

.number_td {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	width: 30px;
}

.rang_input {
	width: 40px !important;
}

.rang_td {
	font-size: 14px !important;
	text-align: center;
	width: 100px;
}

.rang_button_div {
	background-color: rgba(255, 255, 255, .75);
	right: 5px;
	top: 5px;
	padding: 3px 5px 2px 6px;
	position: absolute;
	z-index: 15;
}

.rang_button_div span {
	color: #666;
	font-size: 30px;
}

.small_delete_icon_div {
	background-position: -240px 0 !important;
	cursor: pointer;
	height: 27px;
	width: 27px;
}

.small_edit_icon_div {
	background-position: -205px 0 !important;
	height: 25px;
	width: 20px;
}

.seo_img_alt_div {
	margin: 10px 0 0;
}

.standart_bg_div {
	background-color: #ebebeb;
	border: #ccc 1px solid;
	padding: 15px;
	position: relative;
	z-index: 0;
}

.standart_bg_table {
	background-color: #ebebeb;
	/*border-radius: 5px;*/
	font-size: 18px;
	/*margin: 0 20px 20px;*/
	position: relative;
    /*width: calc(100% - 40px);*/
	z-index: 0;
}

.standart_bg_table td {
	border: 1px solid #ccc;
	padding: 12px;
	vertical-align: middle;
}

/*.standart_bg_table {
	background-color: #eaeaea;
	font-size: 16px;
	margin-bottom: 15px;
	position: relative;
	z-index: 0;
}

.standart_bg_table td {
	border: 1px solid #ccc;
	padding: 10px;
	vertical-align: middle;
}*/

.fields_table {
    background-color: #ebebeb;
}

.fields_table td {
	border: 1px solid #ccc;
	padding: 15px;
	vertical-align: middle;
}

.required_warning_input {
	background-color: #FFBFC0 !important;
}

.standart_div_inside_table td {
	border: 1px solid #ccc;
	padding: 7px;
}

.standart_blocks_div {
	background-color: #eaeaea;
	border: 1px solid #ccc;
	float: left;
	margin: 10px 0;
	padding: 15px;
	position: relative;
	text-align: center;
	z-index: 0;
}

.standart_blocks_image_div {
	background-color: #fff;
	border: 1px solid #ccc;
	margin-bottom: 15px;
	position: relative;
}

.standart_img_block {
	background-color: #fff;
	border: 1px solid #ccc;
	display: block;
	margin-top: 2px;
	padding: 6px;
	vertical-align: top;
	width: 250px;
}

.wbs {
	// background: url(../images/basic_sprite.png);
	background-repeat: no-repeat;
	z-index: 60;
}

.content_div {
	padding: 20px;
	position: relative;
	z-index: 5;
}

.checkbox_category {
	margin-bottom: 5px;
	position: relative;
	cursor: pointer;
	margin-top: 15px;
}
.checkbox_category:first-of-type {
	margin-top: 0;
}
.checkbox_category span {
	position: absolute;
	margin-left: 10px;
	top: 1px;
}
.checkbox_category span.rotated {
	transform: rotate(180deg);
}
.checkboxes_wrapper {
	display: none;
}
.checkboxes_wrapper label {
	display: block;
	cursor: pointer;
}

.col_padding {
	padding: 10px;
}

.col_double_padding {
	padding: 10px;
}

.standart_bg_table_outside_div {
	padding: 0 10px;
}
/* <> */
	a:link,
	a:active,
	a:visited {
		color: #1e8cf3;
		text-decoration: none;
	}
	
	a:hover {
		color: #004b91;
		text-decoration: underline;
	}
	
	body {
		color: #333;
		font: 15px/140% Georgia, "Times New Roman", Times, serif;
		margin: 0;
		padding: 5px 10px;
	}
	
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: #1e8cf3;
		font-family: Georgia, "Times New Roman", Times, serif;
		font-weight: normal;
		line-height: 120%;
		margin: 10px 0;
	}
	
	h1 {
		font-size: 30px;
	}
	
	h2 {
		font-size: 26px;
	}
	
	h3 {
		font-size: 20px;
	}
	
	h4 {
		font-size: 18px;
	}
	
	h5 {
		font-size: 17px;
	}
	
	h6 {
		font-size: 13px;
	}
	
	img {
		border: 0;
	}
	
	p {
		margin: 10px 0 20px;
	}
	
	table {
		border-collapse: collapse;
		width: 100%;
	}
	
	td {
		padding: 0;
		vertical-align: top;
	}
/* <> */

/* . */
	.disable_text {
		color: #777;
	}
	
	.like_link {
		color: #1e8cf3;
	}
	
	.normal_text {
		color: #333 !important;
	}
/* . */
* {
	box-sizing: border-box;
}

a:link,
a:active,
a:visited {
	color: #004b91;
	text-decoration: none;
}

a:hover {
	color: #1e8cf3;
}

body {
	background-color: #ebebeb;
	color: #333;
	font: 15px Arial;
	margin: 0;
	overflow-y: scroll;
	padding: 20px 0;
}

button {
	border: 1px solid #ccc;
}

footer {
	background-color: #fff;
	border: 1px solid #ccc;
	color: #777;
	font: 12px Arial, Helvetica, sans-serif;
	padding: 15px 20px;
	margin: auto;
	position: relative;
	width: 1250px;
	z-index: 5;
}

h3 {
	color: #1e8cf3;
	font: 20px normal;
	margin: 0;
}

h4 {
	color: #1e8cf3;
	font: 18px normal;
	margin: 20px 0 0;
}

h5 {
	font: 16px normal;
	margin: 0;
}

header {
	background-color: #fff;
	border: 1px solid #ccc;
	margin: auto;
	padding: 10px;
	position: relative;
	width: 1250px;
	z-index: 5;
}

header table td {
	padding: 7px;
	vertical-align: middle;
}

img {
	border: 0;
}

input {
	font-size: 14px;
}

input[type="checkbox"] {
	margin: 3px;
}

input[type="submit"],
input[type="button"] {
	border: 1px solid #666;
}

input[type="text"],
input[type="file"],
input[type="password"] {
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 3px;
	width: 350px;
}

input[type="range"] {
	vertical-align: middle;
}

input[type="text"]:focus,
input[type="password"]:focus {
	border: 1px solid #666;
	outline: none;
}

p {
	margin: 10px 0;
}

section {
	background-color: #fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	margin: auto;
	position: relative;
	width: 1250px;
	z-index: 5;
}

select {
	font-family: HobbyStudio Georgia, Arial;
	outline: none;
	width: 200px;
}

table {
	border-collapse: collapse;
	width: 100%;
}

td {
	padding: 0;
	text-align: left;
	vertical-align: top;
}
#saved {
	border-top: 5px solid #059e54;
	position: fixed;
	width: 0;
	left: 0;
	top: 0;
	z-index: 10;
	opacity: 1;
}

#transparent_bg_div {
	background-color: rgba(255, 255, 255, 0.75);
	display: none;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 7;
}

#content {
	padding: 10px;
}

#content_div {
	padding: 10px;
	position: relative;
	z-index: 5;
}

#content_div h3 {
	padding-bottom: 20px;
}

#content_bottom_div {
	padding: 20px;
}

#content_bottom_div h3 {
	margin: 0 0 20px 28px;
}

#apply_input {
	background-color: #72e13c;
	cursor: pointer;
	margin: 0 0 0 10px;
	padding: 10px;
}

#apply_input:hover {
	background-color: #4bbf12;
	color: #fff;
}

#delete_input {
	background-color: #ff3939;
	cursor: pointer;
	/*margin-bottom: 15px;*/
	padding: 10px;
}

#delete_input:hover {
	background-color: #dc0404;
	color: #fff;
}

#empty_content_h3 {
	margin-top: 10px;
	padding: 100px 0;
}

#exit_table {
	margin-left: 0px;
	width: 110px;
}

#header_div {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
}

#hide_modules_arrow_div {
	background-position: -470px 0;
	height: 13px;
	margin: 3px 6px 4px;
	width: 23px;
}

#hide_modules_button_div {
	border-bottom: 1px solid #ccc;
	padding: 5px;
}

#hide_seo_data_button_span {
	color: #888;
}

#home_icon_span {
	color: #61b230;
	font-size: 25px;
	margin-left: 6px;
	vertical-align: middle;
}

#log_out_icon_span {
	color: #c72929;
	font-size: 19px;
	margin-left: 9px;
	margin-right: 1px;
	vertical-align: middle;
}

#log_in_div {
	background-color: #fff;
	border: 1px solid #ccc;
	margin: 50px auto 0;
	width: 330px;
}

#logo_div {
	background-position: 0 -97px;
	height: 84px;
	width: 75px;
}

#menu_div {
	border-bottom: 1px solid #ccc;
	font-size: 15px;
	padding: 0px;
	position: relative;
	z-index: 5;
}

#menu_basic_table_logo_table td {
	border: none;
	padding: 0;
}

#module_big_icon_div {
	height: 200px;
	right: 20px;
	position: absolute;
	bottom: 65px;
	width: 200px;
	z-index: 5;
}

#modules_menu_show_hide_buttons_div {
	cursor: pointer;
}

#right_td {
	width: 950px;
}

#seo_data_button_div {
	background-color: #CDF1B4;
	border: 1px solid #ccc;
	margin-bottom: 15px;
	padding: 8px;
}

#seo_data_div {
	margin-bottom: 15px;
}

#seo_data_inside_div {
	display: none;
}

#seo_data_table {
	background-color: #eaeaea;
	margin-top: 5px;
}

#seo_data_table td {
	border: 1px solid #ccc;
	padding: 10px;
}

#show_modules_arrow_div {
	background-position: -440px 0;
	height: 13px;
	margin: 5px 6px 2px;
	width: 23px;
}

#show_modules_button_div {
	padding: 5px;
}

#show_seo_data_button_span {
	color: #004b91;
	cursor: pointer;
}

#submit_input,
#submit_button {
	background-color: #A2D5FB;
	cursor: pointer;
	padding: 10px;
}

#submit_input:hover,
#submit_input:hover {
	background-color: #2092F4;
	color: #fff;
}

#text_messages_div {
	color: #fff;
	font-size: 18px;
	height: 100%;
	left: 0;
	padding-top: 57px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 10;
}

#warning_content_h3 {
	color: #f00;
	text-align: center;
	padding: 130px 40px;
}
/* # */
	#left_td {
		border-right: 1px solid #ccc;
		padding-bottom: 47px;
		width: 300px;
	}
	
	#left_td table {
		
	}
	
	#left_td table td {
		padding: 7px;
		vertical-align: middle;
	}
	
	/*#left_td #active_menu_div {
		background-color: #000;
		bottom: 7px;
		height: 1px;
		left: 34px;
		position: absolute;
		width: 102px;
	}
	
	#left_td #attention_div {
		background-color: #eaeaea;
		border: 1px solid #f00;
		color: #f00;
		margin-bottom: 15px;
		padding: 15px 10px;
	}*/
/* # */

/* . */
	/*#left_td .module_icon_table:last-child {
		border-bottom: none !important;
	}*/

	#left_td .module_icon_img {
		height: 30px;
		width: 30px;
	}
	
	#left_td a:hover {
		color: #fff !important;
	}
	
	#left_td a:hover .module_icon_img path {
		fill: #fff;
	}

	/*#left_td .add_big_icon_div {
		background-position: 0 0;
		height: 39px;
		margin: 0 auto 5px;
		width: 39px;
	}
	
	#left_td .add_small_icon_div {
		background-position: -50px 0;
		bottom: -2px;
		height: 27px;
		left: 60px;
		position: absolute;
		width: 27px;
	}
	
	#left_td .button_a {
		display: block;
		margin-bottom: 5px;
		padding: 15px 0;
		position: relative;
		text-transform: capitalize;
	}
	
	#left_td .configuration_big_icon_div {
		background-position: -88px -55px;
		height: 67px;
		margin: 0 auto 5px;
		position: relative;
		width: 68px;
	}
	
	#left_td .edit_big_icon_div {
		background-position: -99px 0;
		height: 38px;
		margin: 0 auto 5px;
		width: 30px;
	}
		
	#left_td .edit_module_big_icon_div {
		background-position: 0 -200px;
		height: 72px;
		margin: 0 auto 5px;
		position: relative;
		width: 77px;
	}
	
	#left_td .edit_or_delete_big_icon_div {
		background-position: -99px 0;
		height: 41px;
		margin: 0 auto 5px;
		width: 94px;
	}

	#left_td .edit_or_delete_small_icon_div {
		background-position: -205px 0;
		bottom: -2px;
		height: 27px;
		left: 50px;
		position: absolute;
		width: 62px;
	}
		
	#left_td .edit_small_icon_div {
		background-position: -205px 0;
		bottom: -2px;
		height: 25px;
		left: 50px;
		position: absolute;
		width: 20px;
	}

	#left_td .module_big_icon_div {
		margin: 0 auto 5px;
		position: relative;
	}

	#left_td .module_big_circle_icon_div {
		border: 1px solid #ccc;
		border-radius: 100px;
		margin: 0 auto 5px;
		position: relative;
		background-size: 80%;
		background-repeat: no-repeat;
		background-position: center;
		height: 80px;
		width: 80px;
	}

	#left_td .module_big_circle_icon_div img {
		width: 46px;
		height: 46px;
		margin: 17px auto;
	}
	
	#left_td .view_small_icon_div {
		background-position: -97px -130px;
		bottom: -2px;
		height: 26px;
		left: 50px;
		position: absolute;
		width: 26px;
	}

	#left_td .word_big_icon_div {
		background-position: -161px -53px;
		height: 68px;
		margin: 0 auto 5px;
		position: relative;
		width: 68px;
	}*/
/* . */
#text_info_button_div {
	background-color: #aee28f;
	border: 1px solid #ccc;
	font-size: 16px;
	margin-top: 20px;
	padding: 15px;
	text-align: center;
}

#text_info_button_div table {
	margin: auto;
	width: auto;
}

#text_info_button_div table td {
	vertical-align: middle;
}
.dragstart {
	opacity: 0.5;
}

.dragend {
	opacity: 1;
}

.dragover div {
	background-color: #1e8cf3 !important;
}

.ui-draggable-dragging {
	opacity: 0.5;
}

.drag_target_div {
	float: left;
	padding: 0 6px 0 7px;
	position: relative;
	top: 100px;
	height: 10px;
	margin-bottom: 30px;
}

.drag_target_div div {
	width: 7px;
	position: relative;
	top: -100px;
	z-index: 5;
}

.drag_target_horizontal_div {
	padding: 7px 0;
	position: relative;
	width: calc(100% - 20px);
	margin: auto;
}

.drag_target_horizontal_div div {
	height: 5px;
	position: relative;
}

.standart_bg_table_outside_div {
	cursor: move;
}
#content_div.ok {
	border: 10px solid #aee28f
}

#content_div.fail {
	border: 10px solid #ff7676;
}

#text_info_button_div.ok {
	background-color: #aee28f
}

#text_info_button_div.fail {
	background-color: #ff7676;
}
/* # */
	#ta_buttons_basic_div {
		max-height: 409px;
		overflow: hidden;
		position: relative;
	}
	
	#tags_bottom_arrow_div {
		background-position: -440px 0;
		height: 13px;
		margin: auto;
		width: 23px;
	}

	#tags_bottom_arrow_basic_div {
		cursor: pointer;
		padding: 10px 0;
		text-align: center;
	}
	
	#tags_bottom_arrow_basic_div:hover {
		background-color: #fff;
	}
	
	#tags_div {
		background-color: #fff;
		border-bottom: 1px solid #ccc;
		color: #666;
		padding: 8px 15px;
		position: relative;
		z-index: 210;
	}
	
	#tags_div a {
		display: inline-block;
		padding-top: 3px;
	}
	
	#tags_top_arrow_div {
		background-position: -440px -22px;
		height: 13px;
		margin: 0 auto;
		width: 23px;
	}
/* # */

/* . */
	div.ta_span img.module_icon {
		max-width: 30px;
		max-height: 30px;
		margin: 5px auto;
	}

	div.ta_span td.module_icon_cell {
		width: 1px;
		text-align: center;
	}

	.ta_button_div {
		border-bottom: 1px solid #ccc;
		padding: 8px;
	}
	
	.ta_button_div:hover {
		background-color: #fff;
	}
	
	.ta_button_standart_div {
		border-bottom: 1px solid #ccc;
		min-height: 33px;
		padding: 8px 8px 0;
	}
	
	.ta_button_standart_div:hover {
		background-color: #fff;
	}
	
	.ta_module_button_div {
		border-bottom: 1px solid #ccc;
		padding: 0;
	}
	
	.ta_module_button_div:hover {
		background-color: #fff;
	}
	
	.ta_button_inside_div {
		height: 40px;
		width: 40px;
	}

	.ta_button_table td {
		padding: 0;
		vertical-align: middle;
	}
	
	.ta_buttons_div {
		background-color: #ebebeb;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		display: none;
		left: -10px;
		min-width: 250px;
		position: absolute;
		top: 34px;
	}
	
	.ta_span {
		background-position: -391px -4px !important;
		display: inline-block;
		height: 25px;
		position: relative;
		vertical-align: top;
		width: 35px;
	}
	
	.ta_span:hover {
		background-position: -391px -23px !important;
	}
	
	.ta_span a {
		display: inline !important;
	}
	
	.tags_arrow_bottom_basic_div {
		background-color: #fff;
		border-top: 1px solid #ccc;
		cursor: pointer;
		padding: 10px 0;
		text-align: center;
	}
	
	.tags_arrow_top_basic_div {
		background-color: #fff;
		border-bottom: 1px solid #ccc;
		padding: 10px 0;
		text-align: center;
	}
	
	.tags_simple_arrow_div {
		background-position: -391px -4px !important;
		display: inline-block;
		height: 25px;
		margin: 0 5px 0;
		vertical-align: top;
		width: 35px;
	}
/* . */
$container-max-widths: (
	sm: 540px,
	md: 990px,
	lg: 1230px,
	xl: 1370px
);

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 1024px,
	lg: 1250px,
	xl: 1400px
);

//Variables should always be placed before bootstrap import

// @import 'bootstrap-scss/bootstrap';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

[class^="col-"],
[class*=" col-"],
[class^="container-"],
[class*=" container-"],
.row {
	margin: 0;
	flex: unset;
}

[class^="col-"],
[class*=" col-"] {
    padding: 8px;
}

.container {
	padding: 0;
}

ol,
ul, 
dl,
p {
	margin: 0;
	padding: 0;
	list-style: none;
}