/* # */

#data_bar_div {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  position: relative;
  z-index: 3;
}

#data_bar_div #view_all_a {
  display: block;
  width: 150px;
}

#data_bar_div #view_all_a table td {
  padding: 8px;
}

#data_bar_div #view_all_a table {
  width: 150px;
}

#data_bar_div table td {
  vertical-align: middle;
}

#data_bar_div #add_div {
  border-right: 1px solid #ccc;
  padding: 10px;
}

#data_bar_div #prev_div {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 10px;
}

#data_bar_div #next_div {
  border-right: 1px solid #ccc;
  padding: 10px;
}

#data_bar_div #delete_div {
  cursor: pointer;
  padding: 10px;
}

#data_bar_div #edit_text_div {
  border-right: 1px solid #ccc;
  padding: 10px;
}

#bar_add_div {
  border: 1px solid #ccc;
  text-align: center;
}

#bar_add_div .add_icon {
  color: #059e54;
}

#bar_add_a {
  display: block;
  padding: 10px;
}

#bar_add_div table td {
  vertical-align: middle;
}

#bar_add_div table {
  margin: auto;
  width: auto;
}

/*#edit_data_bar_delete_icon_div {
	cursor: pointer;
	padding: 10px;
}

#edit_data_bar_next_icon_disable_div {
	background-position: -536px 0;
	height: 27px;
	opacity: .3;
	position: absolute;
	right: 50px;
	top: 7px;
	width: 27px;
}

#edit_data_bar_next_icon_div {
	padding: 10px;
}

#edit_data_bar_next_icon_div:hover {
	background-position: -536px -30px;
}

#edit_data_bar_prev_icon_disable_div {
	background-position: -506px 0;
	height: 27px;
	opacity: .3;
	position: absolute;
	right: 80px;
	top: 7px;
	width: 27px;
}

#edit_data_bar_prev_icon_div {
	padding: 10px;
}

#edit_data_bar_prev_icon_div:hover {
	background-position: -506px -30px;
}*/

/* # */

/* . */

/* . */

