.bar-tag-small-img {
  width: 16px;
  transition: 0.125s all ease-in-out;
}

.bar-tag-small-img--tags__arrow:hover {
  transform: rotate(90deg);
}

.bar-tag-big-img {
  width: 22px;
}

.bar-tag-big-img--disabled {
  opacity: 0.2;
}

.bar-tag-bigger-img {
  width: 27px;
}

.standard-block {
  background-color: #ebebeb;
  border: 1px solid #ccc;
  z-index: 0;
}

.standard-block--no-left-border {
  border-left: none;
}

.standard-block--no-right-border {
  border-right: none;
}

.standard-block--no-top-border {
  border-top: none;
}

.standard-block--no-bottom-border {
  border-bottom: none;
}

.checkbox-block {
  border-left: 1px solid #ccc;
}

.submit-button button,
.submit-button input[type=submit] {
  background-color: #a2d5fb;
  padding: 10px 16px;
  border: 1px solid #666;
  font-size: 14px;
  outline: none !important;
}

.submit-button button:hover,
.submit-button input[type=submit]:hover {
  background-color: #2092f4;
  color: #fff;
}

.module-entry-main {
  border-top: 1px solid #ccc;
}

.header__cms-version {
  font-size: 30px;
}

.header__cms-version-numbers {
  color: #004b91;
}

.edit-block {
  border: 1px solid #ccc;
  background-color: #ebebeb;
  font-size: 18px;
  position: relative;
  z-index: 0;
  cursor: move;
}

.edit-block__edit-delete-block {
  border-left: 1px solid #ccc;
}

.content {
  border-left: 1px solid #ccc;
}

.bar {
  border: 1px solid #ccc;
  border-left: none;
  border-right: none;
}

.bar__button {
  border-left: 1px solid #ccc;
}

