// MEDIA QUERY BREAKPOINTS
    $xxl_size : 1400px;
    $xl_size : 1200px;
    $lg_size : 992px;
    $md_size : 768px;
    $sm_size : 576px;
    $xs_size : 576px;
//


// COLORS
$color0: red;
$color1: green;
$color2: blue;
$color3: yellow;
$color4: pink;
$color5: brown;
$input_warning_color: #F00;
$link_color: #004b91;