@import "./atom";

// Bar.
	.bar-tag-small-img {
		width: 16px;
		transition: 0.125s all ease-in-out;
	}

	.bar-tag-big-img {
		width: 22px;

		&--disabled {
			opacity: 0.2;
		}
	}

	.bar-tag-bigger-img {
		width: 27px;
	}

	.bar {
		border-bottom: 1px solid #ccc;

		&__button {
			border-left: 1px solid #ccc;
		}

		&__button.delete-block {
			cursor: pointer;
		}
	}
//




.standard-block {
	background-color: #ebebeb;
	border: 1px solid #ccc;
	z-index: 0;

	&--no-left-border {
		border-left: none;
	}

	&--no-right-border {
		border-right: none;
	}

	&--no-top-border {
		border-top: none;
	}

	&--no-bottom-border {
		border-bottom: none;
	}
}

.top-border {
	border-top: 1px solid #ccc;
}

.bottom-border {
	border-bottom: 1px solid #ccc;
}

.left-border {
	border-left: 1px solid #ccc;
}

.right-border {
	border-right: 1px solid #ccc;
}

.checkbox-block {
	border-left: 1px solid #ccc;
}

.submit-button button,
.submit-button input[type="submit"] {
	background-color: #a2d5fb; 
	padding: 10px 16px;
	// transition: 0.2s all ease-in-out;
	border: 1px solid #666;
	font-size: 14px;
	outline: none !important;
	&:hover {
		background-color: #2092f4;
		color: #fff;
	}
}

.header {
	&__cms-version {
		font-size: 30px;
	}

	&__cms-version-numbers {
		color: $link_color;
	}
}

.edit-block {
	border: 1px solid #ccc;
	background-color: #ebebeb;
	font-size: 18px;
	position: relative;
	z-index: 0;

	&__edit-delete-block {
		border-left: 1px solid #ccc;
		cursor: pointer;
		&--move {
			cursor: move;
		}
	}

	&__block_inside_preview {
		
	}

	&__image_div {
		height: 100px;
		background-repeat: no-repeat;
		background-size: cover;;
	}
} 

.line_max_1 {
	display: block;
	display: -webkit-box;
	position: relative;
	line-height: 140%;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 !important;
	-webkit-line-clamp: 1;
	max-height: calc(1em * 1.4 * 1);
	height: auto;
}

.line_max_1:after {
	content: "";
	text-align: right;
	bottom: 0;
	right: 0;
	width: 25%;
	display: block;
	position: absolute;
	max-height: calc(1em * 1.4);
	height: auto;
}

// Horizontal edit delete block

// Sidebar menu

// .menu {
// 	border-right: 1px solid #ccc;
// 	border-bottom: 1px solid #ccc;
// }

// Sidebar menu

.content {
	border-left: 1px solid #ccc;
}

.tags {
	border-bottom: 1px solid #ccc;
}

.addButton {
	border: 1px solid #ccc;

	&:hover {
		cursor: pointer !important;
	}
}


.languages {
	
}

// CK Editor
	.ck-editor__editable {
		min-height: 150px;
		max-height: 500px;
	}
// 

.tags_wrapper {
	line-height: 30px;
}