@import './atom';

* {
	box-sizing: border-box;
}

a:link,
a:active,
a:visited {
	color: $link_color;
	text-decoration: none;
}

a:hover {
	color: #1e8cf3;
}

body {
	background-color: #ebebeb;
	color: #333;
	font: 15px Arial;
	margin: 0;
	overflow-y: scroll;
	padding: 0;
}

button {
	border: 1px solid #ccc;
}

footer {
	background-color: #fff;
	border: 1px solid #ccc;
	font: 14px Arial, Helvetica, sans-serif;
}

h3 {
	color: #1e8cf3;
	font: 20px normal;
	margin: 0;
}

h4 {
	color: #1e8cf3;
	font: 18px normal;
	margin: 20px 0 0;
}

h5 {
	font: 16px normal;
	margin: 0;
}

header {
	background-color: #fff;
	border: 1px solid #ccc;
	margin: auto;
	position: relative;
	z-index: 5;
}

header table td {
	padding: 7px;
	vertical-align: middle;
}

img {
	border: 0;
}

input {
	font-size: 14px;
}

input[type="checkbox"] {
	margin: 3px;
}

input[type="submit"],
input[type="button"] {
	border: 1px solid #666;
}

input[type="text"],
input[type="file"],
input[type="password"] {
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 3px;
	width: 350px;
}

input[type="range"] {
	vertical-align: middle;
}

input[type="text"]:focus,
input[type="password"]:focus {
	border: 1px solid #666;
	outline: none;
}

p {
	margin: 10px 0;
}

section {
	background-color: #fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	position: relative;
	/*width: 1250px;*/
	z-index: 5;
}

select {
	font-family: HobbyStudio Georgia, Arial;
	outline: none;
	width: 200px;
}

table {
	border-collapse: collapse;
	width: 100%;
}

td {
	padding: 0;
	text-align: left;
	vertical-align: top;
}
