#content_div.ok {
	border: 10px solid #aee28f
}

#content_div.fail {
	border: 10px solid #ff7676;
}

#text_info_button_div.ok {
	background-color: #aee28f
}

#text_info_button_div.fail {
	background-color: #ff7676;
}