/* # */
	#ta_buttons_basic_div {
		max-height: 409px;
		overflow: hidden;
		position: relative;
	}
	
	#tags_bottom_arrow_div {
		background-position: -440px 0;
		height: 13px;
		margin: auto;
		width: 23px;
	}

	#tags_bottom_arrow_basic_div {
		cursor: pointer;
		padding: 10px 0;
		text-align: center;
	}
	
	#tags_bottom_arrow_basic_div:hover {
		background-color: #fff;
	}
	
	#tags_div {
		background-color: #fff;
		border-bottom: 1px solid #ccc;
		color: #666;
		padding: 8px 15px;
		position: relative;
		z-index: 210;
	}
	
	#tags_div a {
		display: inline-block;
		padding-top: 3px;
	}
	
	#tags_top_arrow_div {
		background-position: -440px -22px;
		height: 13px;
		margin: 0 auto;
		width: 23px;
	}
/* # */

/* . */
	div.ta_span img.module_icon {
		max-width: 30px;
		max-height: 30px;
		margin: 5px auto;
	}

	div.ta_span td.module_icon_cell {
		width: 1px;
		text-align: center;
	}

	.ta_button_div {
		border-bottom: 1px solid #ccc;
		padding: 8px;
	}
	
	.ta_button_div:hover {
		background-color: #fff;
	}
	
	.ta_button_standart_div {
		border-bottom: 1px solid #ccc;
		min-height: 33px;
		padding: 8px 8px 0;
	}
	
	.ta_button_standart_div:hover {
		background-color: #fff;
	}
	
	.ta_module_button_div {
		border-bottom: 1px solid #ccc;
		padding: 0;
	}
	
	.ta_module_button_div:hover {
		background-color: #fff;
	}
	
	.ta_button_inside_div {
		height: 40px;
		width: 40px;
	}

	.ta_button_table td {
		padding: 0;
		vertical-align: middle;
	}
	
	.ta_buttons_div {
		background-color: #ebebeb;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		display: none;
		left: -10px;
		min-width: 250px;
		position: absolute;
		top: 34px;
	}
	
	.ta_span {
		background-position: -391px -4px !important;
		display: inline-block;
		height: 25px;
		position: relative;
		vertical-align: top;
		width: 35px;
	}
	
	.ta_span:hover {
		background-position: -391px -23px !important;
	}
	
	.ta_span a {
		display: inline !important;
	}
	
	.tags_arrow_bottom_basic_div {
		background-color: #fff;
		border-top: 1px solid #ccc;
		cursor: pointer;
		padding: 10px 0;
		text-align: center;
	}
	
	.tags_arrow_top_basic_div {
		background-color: #fff;
		border-bottom: 1px solid #ccc;
		padding: 10px 0;
		text-align: center;
	}
	
	.tags_simple_arrow_div {
		background-position: -391px -4px !important;
		display: inline-block;
		height: 25px;
		margin: 0 5px 0;
		vertical-align: top;
		width: 35px;
	}
/* . */